#game{
    display:table;
    background-color:blanchedalmond;
}

.row{
    display:table-row;
}

.cell{
    display:table-cell;
    border:2px solid black;
    width:60px;
    height:60px;
    text-align:center;
}

.head{
    background-color:red;
}

.body{
    background-color:aqua;
}

.dead{
    background-color:yellow;
}

.frog{
    color:red;
    background-color:green;
    /* border-radius:50%; */
    /* border:0px; */
}